In [3]:
1.#Find the data type of these two declaration:x=5y="John"
x=5
y="John"
print("datatype of x= 5 is ",type(x))
print("datatype of y=""John"" is ",type(y))

datatype of x= 5 is  <class 'int'>
datatype of y=John is  <class 'str'>

In [5]:
# 2.Check whether the following syntax is valid or invalid for naming a variable.:Example:abc=100#validsyntax
#i.3a=10 ii.@abc=10 iii. a100=100 iv._a984_=100 v.a9967$=100 vi.xyz-2=100
3a=10
print(3a)
# invalid syntax

@abc=10
print (@abc)
# invalid syntax

a100=100
print(a100)
# valid syntax

_a984_=100
print(_a984_)
# valid syntax

a9967$=100
print(a9967$)
# invalid syntax

xyz-2=100
print (xyz-2)
# Syntax Error: cannot assign to operator

SyntaxError: invalid syntax (Temp/ipykernel_11724/4111380243.py, line 3)

In [6]:
#3.Check if element exists in list in Python:list=test_list=[1,6,3,5,3,4]1.Check if 3 exist or not
list=test_list=[1,6,3,5,3,4]
print(list)
print("Check if 3 exist or not:", 3 in list)

print("Check if 9 exists or not:",9 in list )

[1, 6, 3, 5, 3, 4]
Check if 3 exist or not: True
Check if 9 exists or not: False

In [50]:
#4 Take the user input to print the current date
from datetime import date ,datetime
day=int(input("Enter the today's date= "))
month=int(input("Enter the today's month= "))
year=int(input("Enter the today's year= "))
today=date(year,month,day)
print(today)

2023-03-04

In [8]:
# 5.what is the output of the following code:a.print9//2 b.print9%2
print(9//2)
print(9%2)

4
1

In [13]:
# 6.Print First 10 natural numbers using a while loop
i=1
print("Print First 10 natural numbers using a while loop")
while i < 11:
    print(i,end=" ")
    i+=1

Print First 10 natural numbers using a while loop
1 2 3 4 5 6 7 8 9 10

In [19]:
#7.Write program to accept a number from a user and calculate the sum of all numbers from 1 to a given number.For example,if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)
i=int(input("Enter the number"))
sum=0
a = 1
while a < (i+1):
    sum = sum + a
    a+=1
print("Print sum of all natural numbers from 1 to ", i,"= ",sum)

Print sum of all natural numbers from 1 to  10 =  55

In [39]:
#8.Write a Python program which iterates the integers from 1 to 50. For multiples of three print"Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print"FizzBuzz". Example :fizzbuzz12fizz4buzzTheparametersonwhichtheassignmentwillbegradedare:●Correctnessofthecode:Gradesaregivenonthebasishowaccuratethequeryis.●CodeReadability:Gradesonthebasisofifoutputisexactornotandunnecessaryqueryisnotwritten.2

for i in range(0,51):
    print ("the iterate value of ",i,"is",end="  ")
    if i%3 == 0 and i%5 ==0:
        print("fizzbuzz")
    elif i%3 == 0:
        print("fizz")
    elif i%5 == 0:
        print("buzz")
    else:
        print(i)

the iterate value of  0 is  fizzbuzz
the iterate value of  1 is  1
the iterate value of  2 is  2
the iterate value of  3 is  fizz
the iterate value of  4 is  4
the iterate value of  5 is  buzz
the iterate value of  6 is  fizz
the iterate value of  7 is  7
the iterate value of  8 is  8
the iterate value of  9 is  fizz
the iterate value of  10 is  buzz
the iterate value of  11 is  11
the iterate value of  12 is  fizz
the iterate value of  13 is  13
the iterate value of  14 is  14
the iterate value of  15 is  fizzbuzz
the iterate value of  16 is  16
the iterate value of  17 is  17
the iterate value of  18 is  fizz
the iterate value of  19 is  19
the iterate value of  20 is  buzz
the iterate value of  21 is  fizz
the iterate value of  22 is  22
the iterate value of  23 is  23
the iterate value of  24 is  fizz
the iterate value of  25 is  buzz
the iterate value of  26 is  26
the iterate value of  27 is  fizz
the iterate value of  28 is  28
the iterate value of  29 is  29
the iterate value of  30 is  fizzbuzz
the iterate value of  31 is  31
the iterate value of  32 is  32
the iterate value of  33 is  fizz
the iterate value of  34 is  34
the iterate value of  35 is  buzz
the iterate value of  36 is  fizz
the iterate value of  37 is  37
the iterate value of  38 is  38
the iterate value of  39 is  fizz
the iterate value of  40 is  buzz
the iterate value of  41 is  41
the iterate value of  42 is  fizz
the iterate value of  43 is  43
the iterate value of  44 is  44
the iterate value of  45 is  fizzbuzz
the iterate value of  46 is  46
the iterate value of  47 is  47
the iterate value of  48 is  fizz
the iterate value of  49 is  49
the iterate value of  50 is  buzz